extends layout

block content
  body
    :verbatim
      <h1>Registration</h1>
        <form id="register">
          <label>Email:</label>
            <input type="text" name="email" placeholder="user@domain.com">
          <label>First Name:</label>
            <input type="text" name="firstname">
          <label>Last Name:</label>
           <input type="text" name="lastname">
          <label>Password:</label>
           <input type="password" name="password">
          <label>Confirm Password:</label>
            <input type="password" name="password_confirm">
          <input type="submit" value="Register Your Creative Space">
        </form>